
/* Main color in app
  clean: #A7D2CB
  butter: #F2D388
  salmon: #C98474
  eggplant: #874C62
*/

.app {
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}

.app-header {
  padding: 10px;
  border-bottom: 2px solid white;
}

.app-header img {
  float: left;
}

.app-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.app-with {
  font-weight: bold;
  font-size: 16px;
  color: 'red'
}

.app-history {
  padding: 15px 10px 10px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 400px;
}

li {
  list-style-type: none;
}

.message-data {
  margin-bottom: 15px;
}

.message-data-time {
  color: lighten(#874C62, 8%);
  font-size: 12px;
  padding-left: 6px;
}

.message-data-name {
  font-weight: bold;
  font-size: 12px;
  padding-right: 5px;
}

.circle {
  color: #C98474;
  padding-right: 3px;
  font-size: 12px;
}

.message {
  color: white;
  padding: 10px 15px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 10px;
  width: 90%;
  position: relative;
}

.message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #A7D2CB;
  border-width: 10px;
  margin-left: -10px;
}

.my-message {
  background: #A7D2CB;
}

.other-message {
  background: #F2D388;
}

.other-message:after {
  border-bottom-color: #F2D388;
  left: 93%;
}

.add-message {
  padding: 5px;
}

.add-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

button {
  float: right;
  color: #C98474;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}

button:hover {
  color: darken(#C98474, 7%);
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}