

.Messages-message.currentMember {
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
  /* background-color: rgba(197, 186, 175, 1) */
  background-color: "red";
  

}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color:rgba(197, 186, 175, 1);
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: rgba(235, 207, 178, 1);
}

