body {
  background: #c5ddeb;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 10px 0;
  color: white;
}

.container {
  margin: 0 auto;
  width: 750px;
  border-radius: 5px;
}

ul.header {
  background: #874c62;
  padding: 0;
  margin-bottom: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  color: #92959e;
}

.content h2 {
  padding-top: 30px;
  color: #434651;
}

.active {
  background-color: #c98474;
}

.technologies {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 13px;
}

.technologies img {
  height: 150px;
  width: 150px;
}
