/* Coolors Exported Palette - coolors.co/424b54-e1ce7a-ebcfb2-c5baaf-ffffff */

/* 
$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E; 
*/


body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
margin: 0 auto;
width: 750px;
border-radius: 5px;
}

ul.header {
  background: #6A6C75;
  padding: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  color: #92959E;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.active {
  background-color:#E38968;
}