body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 10px 0;
  color: white;
}

.container {
  margin: 0 auto;
  width: 750px;
  border-radius: 5px;
}

ul.header {
  background: #874C62;
  padding: 0;
  margin-bottom: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  color: #92959E;
}

.content h2 {
  padding-top: 30px;
  color: #434651;
}

.active {
  background-color: #C98474;
}