/* Coolors Exported Palette - coolors.co/424b54-e1ce7a-ebcfb2-c5baaf-ffffff */

/* RGB
szary: rgba(66, 75, 84, 1);
zolty: rgba(225, 206, 122, 1);
rozowy: rgba(235, 207, 178, 1);
bezowy: rgba(197, 186, 175, 1);
bialy: rgba(255, 255, 255, 1); 
*/


body {
  background-color:rgba(255, 255, 255, 1);
  color: rgba(66, 75, 84, 1);
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color:rgba(66, 75, 84, 1);
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color:rgba(225, 206, 122, 1);
}